@use "./../../assets/styles/var.scss";

:host {
  //esto me cambia la fuente dentro del componente
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* header--------------------------------------------------- */

header {
  background: linear-gradient(
    to right,
    #6188ff,
    #6188ff 70%,
    #71a4f3 71%,
    #71a4f3 97%,
    #8ec0f0 100%
  );

  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  user-select: none;

  a {
    color: var.$texto-blanco;
    text-decoration: none;
    background-color: #4379cf;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 50px;
    margin-right: 200px;
  }
}

#tituloContainer {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #88daf2;
  border-radius: 50px;
  height: 50px;
  padding: 0 5px;
  border: solid 3px #30408d;
  color: var.$texto-blanco;
  img {
    height: 40px;
  }

  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2.5rem;
    -webkit-text-stroke: 2px #30607a;
  }
}

/* main--------------------------------------------------- */

#container {
  height: calc(100vh - 0px);  //esto es para que ocupe el alto de la pantalla es un calc por si se modifica otro componente que se ponga aqui directamente
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;

  position: relative;
  &.seleccionado::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    left: -4px;
  }

  background: repeating-linear-gradient(
    0deg,
    #79a0e3 0px,
    #79a0e3 10px,
    #668cd7 10px,
    #668cd7 50px,
    #79a0e3 50px,
    #79a0e3 60px,
    #5576c5 60px,
    #5576c5 90px,
    #79a0e3 90px,
    #79a0e3 100px,
    #4c69b8 100px,
    #4c69b8 140px,
    #79a0e3 140px,
    #79a0e3 150px,
    #4660b4 150px,
    #4660b4 160px,
    #79a0e3 160px,
    #79a0e3 170px,
    #5576c5 170px,
    #5576c5 190px
  );

  ::-webkit-scrollbar {
    //tamaño de la scrollbar
    width: 12px;
    margin-right: 20px;
  }
  ::-webkit-scrollbar-thumb {
    // barra arrastable
    background-color: #e9563d;
    border-radius: 2px;
    /* Con este truco hago el thumb más chico que su padre */
    box-shadow: inset 0 0 0 2px #882a1a;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    background-clip: padding-box;
    cursor: grab;
  }

  ::-webkit-scrollbar-track {
    //fondo de la barra
    border: solid #90ace7 2px;
    cursor: pointer;
    background: repeating-linear-gradient(
      0deg,
      #276d83,
      #276d83 5px,
      #1c4760 7px,
      #1c4760 9px
    );
  }
}
app-foto-pokemon {
  margin-left: 350px;
  z-index: 3;
}

app-detalle-pokemon {
  position: absolute;
  z-index: 1;
  left: -170vh; /* Inicialmente fuera de la pantalla */
  transition: left 0.5s ease-in-out; /* Aplica la transición solo a la propiedad "left" */

  &.abierto {
    left: 0; /* Mueve el elemento a la posición "0" cuando se añade la clase "abierto" */
  }
}

#tarjetasContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 10px;
  margin-top: 10px;
}
